$color: black;
$primary_color: #669900;
$secondary_color: #ff4000;


@font-face {
	src : url("FONTS/Melbourne_regular_basic.otf") format ("otf");
	font-family: "melbourne";
	}

@font-face {
	src: url("FONTS/GINKO.ttf") format ("ttf");
	font-family: "ginko";
}

h2  {
	font-family: "melbourne";
}


html {
	background-image: url("../IMG/bg_body.jpg");
}

header {
	ul {
		text-align: right;
		background-color: #669900;
		color: white;
		padding-right: 10px;
		margin: 0px;
	}
	li { 
		margin-left: 8px;
		margin-right: 8px;
		display: inline-block;
	}
}
body {
	background-image: url("../IMG/bg_header.jpg");
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	.logo {
		display: block;
		margin-top: 50px;
	}
	.deux_tasses, h1 {
	margin-top: 60px;
	display: inline-block;
	}
	h1 {
		margin-right: 20px; }
	.decouvrir_lien {
		text-align: right;
		padding-right: 110px;
		color: #669900;
		text-decoration: none;
		display: block;
	}
	.art_pres {
	text-align : center;
	article {
		width: 33%;
		display: inline-block;
		text-align: left;
			}
	h3 {
		display: inline-block;
			}
}
}





aside {
	display: inline-block;
	margin-top: 50px;
	width: 59%;
	background-image: url("../IMG/bg_news.jpg");
	background-repeat: no-repeat;
	
	padding-top: 75px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

.date-events {
	background-image: url("../IMG/bg_date.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	height: 70px;
	line-height: 70px;
	width: 50px;
article {
	margin-bottom: 25px;
}
h5, p {
	margin: 2px;
}
span {
	display: block;
	height: 15px;
	padding-left: 10px ;
}
}

.content-events { 
	display: inline-block;
a {
	color: red;
	text-decoration: none;
	font-style: italic;
}
} 
}

.section2_espaces {
	vertical-align: top;
	margin-top: 15px;
	padding-left: 30px;
	width: 40%;

	.villes_left, .villes_right {
		display: inline-block;
		width: 30%;
	}
}

footer {
	background-image: url("../IMG/bg_footer.png");
	background-repeat: no-repeat;
	display: inline-block;
	width: 1000px;
}